<% include ./partials/header %> <!--to include header-->




<div class="jumbotron">
  <h1 class="display-4">Reach out to me.</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-lg btn-block" href="mailto:junaid98m@gmail.com" role="button">Email: junaid98m@gmail.com</a>
    <a class="btn btn-outline-primary btn-lg btn-block" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/" role="button">LinkedIn</a>
    <a class="btn btn-outline-primary btn-lg btn-block" href="https://github.com/junaiderade" role="button">GitHub</a>
    <a class="btn btn-outline-secondary btn-lg btn-block" >Phone: 678-790-8601</a>
  </p>
</div>








<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>