<% include ./partials/header %> <!--to include header-->



<!--FIRST SECTION-------------->
<!----------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
    
    
    <div class="col-md-6 mt-5 mb-5 px-0">
      <div class="text-center">
      <h1 class="textSettingH">What Makes This Website Special?(edited2)</h1>
      <h4 class="textSetting">This website is different because it was all coded by me from scratch, 100%. 
      I used JavaScript, CSS, Node.js, Bootstrap and more in the development process. Why go through all this effort? I think as a developer,
      it's important to not just tell people about my skills, but show them.</h4>
      </div>
    </div>
    
    <!-- this picture doesnt work -->
  <!-- <div class="col-md-6 px-0">
      <img id="picMe" class="img-fluid"
      src="https://scontent.fatl1-2.fna.fbcdn.net/v/t1.0-9/53233301_2306690996256320_8378205468950003712_n.jpg?_nc_cat=103&_nc_ht=scontent.fatl1-2.fna&oh=3d029e08e4595f31364ec3c88df973c6&oe=5CE7DB7D" alt="">
    </div> -->
    
  </div>
</section>

<!--SECOND SECTON------------------->
<!---------------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
    <div class="col-md-6 mt-5 mb-5 order-md-2 px-0">
      <div class="text-center">
      <h1 class="textSettingH">Mission</h1>
      <h4 class="textSetting">My goal since I was just a kid, has been to innovate. 
      And now, as a Computer Information Systems major, I have that chance. I graduate from Georgia State University in December 2019 and am looking for 
      oppurtunities to work on meaningful projects and to contribute my skills to a team!</h4>
      </div>
    </div>
    
    <div class="col-md-6 order-md-1 px-0">
      <img id="picMe" class="img-fluid"
      src="https://www.industryweek.com/sites/industryweek.com/files/Coding_2.jpg" alt="">
    </div>
  
  </div>
</section>


<!--THIRD SECTON------------------->
<!---------------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
     <div class="col-md-6 mt-5 mb-5 px-0">
      <div class="text-center">
      <h1 class="textSettingH">Find out More!</h1>
      <h4 class="textSetting">Feel free to contact me. The navigation bar includes links to 
      my project portfolio, resume, and contact information.</h4>
      </div>
    </div>
    
    <div class="col-md-6 px-0">
      <img id="picMe" class="img-fluid"
      src="https://static1.squarespace.com/static/5722660e37013b7c1e2088f9/t/572e81a6d210b89987991d33/1462665646154/atlantaskyline.jpg?format=1500w" alt="">
    </div>
    
  </div>
  
</section>

<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>