<% include ./partials/header %> <!--to include header-->



<!--FIRST SECTION-------------->
<!----------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
    
    
    <div class="col-md-6 mt-5 mb-5 px-0">
      <div class="text-center">
      <h1 class="textSettingH"><em>What Makes This Website Special?</em></h1>
      <h4 class="textSettingSpecial">This website is different from other personal websites because it was all coded by me from scratch, 100%. 
      I used JavaScript, CSS, Node.js, Bootstrap and more in the development process. Why go through all this effort? I think as a developer,
      it's important to not just tell people about my skills, but show them.</h4>
      </div>
    </div>
    

  <div class="col-md-6 px-0">
      <img id="picMe" class="img-fluid"
      src="https://i.imgur.com/1KJSF0O.png?1" alt="">
    </div>
    
  </div>
</section>

<!--SECOND SECTON------------------->
<!---------------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
    <div class="col-md-6 mt-5 mb-5 order-md-2 px-0">
      <div class="text-center">
      <h1 class="textSettingH"><em>Mission</em></h1>
      <h4 class="textSetting">My goal since I was just a kid, has been to innovate. My drive to create started with building legos and making art projects,
      then it turned into building applications and making CS projects. Yet, it still feels the same. Now, as a CIS major I am aiming to apply that passion
      to real world projects. I graduate from Georgia State University in May 2020 and am looking for 
      oppurtunities to work on meaningful projects and to contribute my skills to a team!</h4>
      </div>
    </div>
    
    <div class="col-md-6 order-md-1 px-0">
      <img id="picMe" class="img-fluid"
      src="http://artist.com/art-recognition-and-education/wp-content/themes/artist-blog/media-files/2016/06/rube-goldberg-3.jpg" alt="">
    </div>
  
  </div>
</section>


<!--THIRD SECTON------------------->
<!---------------------------------->
<section class="container-fluid">
  <div class="row align-items-center px-0">
    
     <div class="col-md-6 mt-5 mb-5 px-0">
      <div class="text-center">
      <h1 class="textSettingH"><em>Find out More!</em></h1>
      <h4 class="textSetting">Please don't hesitate to contact me! The navigation bar includes links to 
      my project portfolio, resume, and contact information.</h4>
      </div>
    </div>
    
    <div class="col-md-6 px-0">
      <img id="picMe" class="img-fluid"
      src="https://bldgwlf.com/wp-content/uploads/2011/07/rd2.gif" alt="">
    </div>
    
  </div>
  
</section>

<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>