<% include ./partials/header %> <!--to include header-->


<div class="container">
<!--SET 1 OF CARDS---------->
<!-------------------------->
<div class="row">

<div class="col-lg-4 col-md-6">
 <div class="card portCard " style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55644715_106591997189772_8097207134824955904_o.jpg?_nc_cat=102&_nc_eui2=AeET7mdnGCowIzE28T_67MauHtWfyn-oXiyGl8kdr_tPBk9GURlZ2stLR8cjoSItlaDm3bgie0FoF9tKyfAZonxn1Yy_8Pu1Q3IfKbYF7NLhlw&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=2f81c31ed35461441804006979b9a833&oe=5D5058BE" 
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">YelpCamp</h5>
    <p class="card-text">This is a fullstack website I developed with ejs, Node.js, Bootstrap, multiple NPM packages, and more. It includes advanced web development concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. Deployed with Heroku.</p>
    <a href="https://github.com/junaiderade/YelpCamp" class="btn btn-success">See Code</a>
    <a href="https://desolate-everglades-56309.herokuapp.com/" class="btn btn-primary">Go to Site</a>
  </div>
 </div>
</div>

<!-------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55549759_106591453856493_5104103142740459520_n.jpg?_nc_cat=107&_nc_eui2=AeHASDz0wYba9g6XajSKrV2PmcZcdZwfbisZEIGbzJCtvb9iuHigVOPLZqFi4FiLz0u6El_RusImp4qo1tcOuoQll-efiRGbnHlEJe9UsYBifw&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=9d872fab9450c1bc17620dde7b405bde&oe=5D4262D5"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Casino Simulator</h5>
    <p class="card-text">Built a java program which simulates a casino. Users can make their own profile with its own customer ID and balance and play up to 4 games (Slots, Seven Eleven, Twenty-one). Used a variety of programming concepts and integrating them successfully.</p>
  </div>
 </div>
</div>
<!---------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/56391564_106591690523136_8292664894533140480_n.jpg?_nc_cat=103&_nc_eui2=AeFXE3NEJ5ZX9PZru2bu3I2_ggZ0h0sUBjvS0OdAzYdGSRbEwtXVsToGCWPOaX4PSMmqp0mxnfz5SibK40KY9iiXqcDCTmWQt9K4xBDHrCDGxQ&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=c8f933c901303c2a77dfcb2818586cfe&oe=5D447795"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">This Website</h5>
    <p class="card-text">The website you are viewing right now!</p>
    <a href="https://github.com/junaiderade/personalWebsite" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>

<!--SET 2 OF CARDS---------->
<!-------------------------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard " style="width: 20rem;">
 <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55540669_106591817189790_730388252728492032_n.jpg?_nc_cat=109&_nc_eui2=AeE4kuM4IgHpbjg1fVpWohz6_CP5AJM9cgwyckgg_jFgz8sZWnCwG8A5Bx6vIkHcybO5GktBX0_75E1vqcx80tMVzGjPriLpuq6Sk6O4tLUsMQ&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=12a1a6744a097c1628fd13006c83eefa&oe=5D3F8ACE"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Business Proposal</h5>
    <p class="card-text">I made this as the final project for CIS3300. A partner and I made a business proposal for an IT staffing firm. This project included: a use case diagram, a class diagram, CRC cards, sequence diagrams, use case points and a feasibility analysis. (Documents not posted to protect sensitive information)</p>
  </div>
 </div>
</div>

<div class="col-lg-4 col-md-6">
 <div class="card portCard " style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55615844_106591257189846_1423580031384289280_n.jpg?_nc_cat=103&_nc_eui2=AeF2m43vDR9fcOm-UBZMopL9mCZVk7fOoqF9ZVFnwxd6dSUzF-yK5dN4MEcsswALybcyJ4xZ7Zk2iH-q1Ukega8ZB3hC1eWuJjgj2UFKqZpCkg&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=e93dbe4a5e54e8bd6065658c3da502ea&oe=5D0F8F87"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blog Site</h5>
    <p class="card-text">Created a personal blog site with an aesthetic layout using Node.js, NPM packages, MongoDB, JavaScript, EJS, and CSS. This was one of my first full-stack development projects and included full database usage to create, edit, and delete posts.</p>
    <a href="https://github.com/junaiderade/blogApp" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>

<!-------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55793582_106591630523142_5013233789514547200_n.jpg?_nc_cat=100&_nc_eui2=AeFRcVb6pxxkIp0DSOpK_KYNgE27kQ9nsS_R9R-NP06gWugvtBURRrs0qYcEVGMA2cJqppwPy2T-FNHJYb3JWSb5FSnnPVUV76uq7zn5eEOWZQ&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=8522a5df45e1ac9da180963bd92048cf&oe=5D0B3480"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Color Game</h5>
    <p class="card-text">Used Javascript, HTML, and CSS to make a game users can play on their browser which revolves around RGB colors. The game is interactive, has difficulty modes, and more.</p>
    <a href="https://github.com/junaiderade/ColorGame.github.io" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>
<!---------->

<!--SET 3 OF CARDS---------->
<!-------------------------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/55957705_106591947189777_907884532219248640_o.jpg?_nc_cat=106&_nc_eui2=AeEO0WpYTZuTr8aaU67_bFecgTq-q7J5lu_WBmWMQVFe8C43GKpvpsWbha0XKPxL1w9yODcKeeQXx7p1fRTY4aO80SN4xo23vZ2-PsMNPMiISg&_nc_pt=1&_nc_ht=scontent-atl3-1.xx&oh=1ac9474d33781bc7fc5990f6fe02429a&oe=5D0C9C2F" 
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">To-do List Application</h5>
    <p class="card-text">Created a to-do list app using jQuery which runs in the browser and allows the user to make a todo list for the current day. The user can create to-dos, strike them off, and delete them. The application has a neat interface and uses animations as well.</p>
    <a href="https://github.com/junaiderade/ToDoListApp.github.io" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>











</div> <!--for row-->





</div>
<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>