<% include ./partials/header %> <!--to include header-->


<div class="container">
<!--SET 1 OF CARDS---------->
<!-------------------------->
<div class="row">

<div class="col-lg-4 col-md-6">
    <div class="card portCard" style="width: 20rem;">
     <img style="height:220px;" src="https://i.imgur.com/X5ijTCr.png"
     class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Angular Calorie Calculator</h5>
       <p class="card-text">An application which gives users their basal metabolic rate, maintenance calories, and goal calories based on input. More accurate and includes more features than majority of calorie calculators on the web. Will be deployed with AWS S3.</p>
       <a href="https://github.com/junaiderade/AngularCalorieCalculator" class="btn btn-success">See Code</a>
       <button type="button" class="btn btn-secondary" disabled>Site Coming Soon!</a>
     </div>
    </div>
   </div>
<!-------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://i.imgur.com/TR67oGB.png"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Casino Simulator</h5>
    <p class="card-text">Built a java program which simulates a casino. Users can make their own profile with its own customer ID and balance and play up to 4 games (Slots, Seven Eleven, Twenty-one). Used a variety of programming concepts and integrating them successfully.</p>
  </div>
 </div>
</div>
<!---------->
<div class="col-lg-4 col-md-6">
    <div class="card portCard " style="width: 20rem;">
     <img style="height:220px;" src="https://i.imgur.com/aoavEfy.png" 
     class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">YelpCamp</h5>
       <p class="card-text">This is a fullstack website I developed with the Express framework from Node.js.
       It showcases advanced web development concepts such as data associations and authentication. Users can sign up, log in, make posts, and comment. From Colt Steel's Web Development Bootcamp.</p>
       <a href="https://github.com/junaiderade/YelpCamp" class="btn btn-success">See Code</a>
       <a href="https://desolate-everglades-56309.herokuapp.com/" class="btn btn-primary">Go to Site</a>
     </div>
    </div>
   </div>

<!--SET 2 OF CARDS---------->
<!-------------------------->

<div class="col-lg-4 col-md-6">
 <div class="card portCard " style="width: 20rem;">
  <img style="height:220px;" src="https://i.imgur.com/ILnphy3.png"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blog Site</h5>
    <p class="card-text">Created a personal blog site with an aesthetic layout using Node.js, NPM packages, MongoDB, JavaScript, EJS, and CSS. This was one of my first full-stack development projects and included full database usage to create, edit, and delete posts.</p>
    <a href="https://github.com/junaiderade/blogApp" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>
<!-------->
<div class="col-lg-4 col-md-6">
 <div class="card portCard" style="width: 20rem;">
  <img style="height:220px;" src="https://i.imgur.com/YobKHm9.png"
  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Color Game</h5>
    <p class="card-text">Used Javascript, HTML, and CSS to make a game users can play on their browser which revolves around RGB colors. The game is interactive, has difficulty modes, and more.</p>
    <a href="https://github.com/junaiderade/ColorGame.github.io" class="btn btn-success">See Code</a>
  </div>
 </div>
</div>
<!---------->
<div class="col-lg-4 col-md-6">
    <div class="card portCard" style="width: 20rem;">
     <img style="height:220px;" src="https://i.imgur.com/CNKDyNK.png" 
     class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">SQL Database Project</h5>
       <p class="card-text">As part of my Database Management class, my team and I created a small database for a fictional hardware store using Oracle SQL Developer
        and included a full ERD diagram, business rules, and SQL statements to create and manipulate data.
       </p>
     </div>
    </div>
   </div>

<!--SET 3 OF CARDS---------->
<!-------------------------->

<div class="col-lg-4 col-md-6">
    <div class="card portCard" style="width: 20rem;">
     <img style="height:220px;" src="https://i.imgur.com/KgdkY5J.png" 
     class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">To-do List Application</h5>
       <p class="card-text">Created a to-do list app using jQuery which runs in the browser and allows the user to make a to-do list for the current day. The user can create to-dos, strike them off, and delete them. The application has a neat interface and uses animations as well.</p>
       <a href="https://github.com/junaiderade/ToDoListApp.github.io" class="btn btn-success">See Code</a>
     </div>
    </div>
   </div>
<!-- ---------------------- -->
   <div class="col-lg-4 col-md-6">
      <div class="card portCard" style="width: 20rem;">
       <img style="height:220px;" src="https://i.imgur.com/OQVBZvn.png"
       class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">This Website</h5>
         <p class="card-text">The website you are viewing right now!</p>
         <a href="https://github.com/junaiderade/personalWebsite" class="btn btn-success">See Code</a>
       </div>
      </div>
     </div>






</div> <!--for row-->





</div>
<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>