<% include ./partials/header %> <!--to include header-->

<!--Work experience--------------->
<div class="card">
  <h3 class="card-header">WORK EXPERIENCE</h3>
  <div class="card-body">
<!-- NS -->
    <h5 class="card-title">Norfolk Southern Corporation -<em>Software Engineering Intern</em> (May 2019 - Present)</h5>
    <p class="card-text">
      <ul>
        <li>Programmed with JavaScript, Java, SQL and more on a full-stack application spanning over 50,000 lines of code </li>
        <li>Developed over 8 features for crucial company-wide locomotive maintenance software</li>
        <li>Worked within an agile SCRUM framework in monthly sprints with a team of about 10 other developers</li>
        <li>Participated in weekly client-facing meetings to understand and develop user and system requirements</li>
        <li>Discovered possible UX and UI improvements through ad-hoc testing in Dev and QA environments</li>
      </ul>
    </p>
  </div>
  <!-- Brainy Bytes -->
  <div class="card-body">
      <h5 class="card-title">Brainy Bytes LLC -<em>Coding and Robotics Instructor</em> (June 2018-August 2018)</h5>
      <p class="card-text">
        <ul>
          <li>Taught over 50 students Java fundamentals and basic robotics</li>
          <li>Lead 5 robotics projects for students to complete including a robotic car, catapult, and a crane arm.</li>
          <li>Designed custom lesson plans for each class to achieve teaching efficiency and maximize student inclusion</li>
          <li>100% of reviews received from parents and organizers were highly satisfactory</li>
        </ul>
      </p>
  </div>
<!-- THD -->
  <div class="card-body">
    <h5 class="card-title">The Home Depot Inc. -<em>Cashier</em> (July 2017-November 2017)</h5>
    <p class="card-text">
      <ul>
        <li>Utilized the Home Depot inventory database which gave insight to real-life applications of computer information systems and data management</li>
        <li>Worked alongside managers and sales associates to ensure customers had the best shopping experience possible</li>
      </ul>
    </p>
  </div>

  </div>

<!-- Education -->

<div class="card">
    <h3 class="card-header">
      EDUCATION
    </h3>
<!-- GSU -->
    <div class="card-body">
      <h5 class="card-title">Georgia State University</h5>
      <p class="card-text">
        <ul>
<li>BBA in Computer Information Systems (August 2016 – May 2020 (Anticipated Graduation))</li>
<li>Major GPA: 3.83 | Overall GPA: 3.63</li>
        </ul>
      </p>
    </div>
<!-- Courses -->
<div class="card-body">
    <h5 class="card-title">Coursework</h5>
    <p class="card-text">
      <ul>
        <li>Application Programming</li>
        <li>Data Programming</li>
        <li>Intro to Programming</li>
        <li>Database Managment Systems</li>
        <li>Systems Analysis</li>
        <li>Health Information Systems</li>
        <li>Data Structures and Algorithms (Udemy)</li>
        <li>The Web Developer Bootcamp (Udemy)</li>
        <li>Angular Essentials (Udemy)</li>
      </ul>
    </p>
  </div>
</div>

  <!-- Skills -->
  <div class="card">
      <h3 class="card-header">
        SKILLS
      </h3>
      <div class="card-body">
        <p class="card-text">
          <ul>
<li><strong>Programming</strong>: JavaScript (Angular, jQuery, Ext JS), Java, Node.js, Bootstrap, HTML, CSS, Git, AWS, REST API’s</li>
<li><strong>Data Management</strong>: SQL, MongoDB, Entity Relationship Modeling, Microsoft Excel</li>
<li><strong>Business Development</strong>: Salesforce, Project Management, Risk Analysis, UML, CRM</li>
<li><strong>Interpersonal Skills</strong>: Public Speaking, Leadership, Selling, Presenting, Social Psychology</li>
<li><strong>Spoken Languages</strong>: Hindi/Urdu (native speaker), Arabic (intermediate-level in Levantine dialect), Spanish (limited working proficiency)</li>
          </ul>
        </p>
      </div>
    </div>





<!----------------------->
 
      
<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>