<% include ./partials/header %> <!--to include header-->

<!--Work experience--------------->
<div class="card">
  <h3 class="card-header">WORK EXPERIENCE</h3>
<!-- Brainy Bytes -->
  <div class="card-body">
    <h5 class="card-title">WarnerMedia (Cartoon Network) -<em>Software Development Intern</em> (Jan 2020 - Present)</h5>
    <p class="card-text">
      <ul>
        <li>Completed 2-3 tickets weekly involving fixing bugs/adding new features for video streaming app and cartoonnetwork.com to help the team meet goals for bi-weekly sprints</li>
        <li>Learned React and React developer tools in under a month to be able to solve problems on CN Video, a progressive web app for Xbox One</li>
        <li>Utilized AWS S3 to deploy HTML5 game builds to CN website</li>
        <li>Contributed original ideas to company by being proactive in learning CN's ad-based business model and using that knowledge to spark discussions about how tech can be used to optimize profit</li>
      </ul>
    </p>
</div>
<!-- NS -->
  <div class="card-body">
    <h5 class="card-title">Norfolk Southern Corporation -<em>Software Engineering Intern</em> (May 2019 - Aug 2019)</h5>
    <p class="card-text">
      <ul>
        <li>Programmed with JavaScript, Java, SQL and more on a full-stack application spanning over 50,000 lines of code </li>
        <li>Developed over 8 features for crucial company-wide locomotive maintenance software</li>
        <li>Worked within an agile SCRUM framework in monthly sprints with a team of about 10 other developers</li>
      </ul>
    </p>
  </div>
  <!-- Brainy Bytes -->
  <div class="card-body">
      <h5 class="card-title">Brainy Bytes LLC -<em>Coding and Robotics Instructor</em> (Jun 2018 - Aug 2018)</h5>
      <p class="card-text">
        <ul>
          <li>Taught over 50 students Java fundamentals and basic robotics</li>
          <li>100% of reviews received from parents and organizers were highly satisfactory</li>
        </ul>
      </p>
  </div>

  </div>

<!-- Education -->

<div class="card">
    <h3 class="card-header">
      EDUCATION
    </h3>
<!-- GSU -->
    <div class="card-body">
      <h5 class="card-title">Georgia State University</h5>
      <p class="card-text">
        <ul>
<li>BBA in Computer Information Systems with track in Application Development (August 2016 – May 2020 (Anticipated Graduation))</li>
<li>Major GPA: 3.83 | Overall GPA: 3.59</li>
        </ul>
      </p>
    </div>
<!-- Courses -->
<div class="card-body">
    <h5 class="card-title">Coursework</h5>
    <p class="card-text">
      <ul>
        <li>Mobile App Development</li>
        <li>Application Programming</li>
        <li>Data Programming</li>
        <li>Intro to Programming</li>
        <li>Database Managment Systems</li>
        <li>Systems Analysis</li>
        <li>Data Structures and Algorithms (Udemy)</li>
        <li>The Web Developer Bootcamp (Udemy)</li>
        <li>Angular Essentials (Udemy)</li>
      </ul>
    </p>
  </div>
</div>

  <!-- Skills -->
  <div class="card">
      <h3 class="card-header">
        SKILLS
      </h3>
      <div class="card-body">
        <p class="card-text">
          <ul>
<li><strong>Proficient</strong>: JavaScript, Java, HTML/XML, CSS, Git, SQL, Agile Development (scrum), AWS (S3, C9)</li>
<li><strong>Familiar</strong>: Python3, MongoDB, Rest APIs</li>
<li><strong>Frameworks/Tools</strong>: React, Angular, JavaFX, Express, Bootstrap, Android Studio</li>
<li><strong>Spoken Languages</strong>: Hindi/Urdu (native speaker), Arabic (intermediate-level in Levantine dialect), Spanish (limited working proficiency)</li>
          </ul>
        </p>
      </div>
    </div>





<!----------------------->
 
      
<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>