<% include ./partials/header %> <!--to include header-->

<!--RESUME--------------->
<!----------------------->
<div id="resume">

<p style="text-align: center;"><span style="color: #ff0000;">SUMMARY</span></p>
<ul style="text-align: left;">
<li>Senior CIS student looking to move businesses forward by working on web/app development projects and improving business processes through creativity.</li>
<li>Proficient in a variety of technical skills such as programming and analytics as well as social skills such as negotiation and public speaking.</li>
</ul>
<p style="text-align: center;"><span style="color: #ff0000;">EDUCATION</span></p>
<p style="text-align: left;"><span style="color: #000000;"><strong>Georgia State University - J. Mack Robinson College of Business, Atlanta</strong> &mdash; <em>Computer Information Systems Degree</em></span></p>
<p style="text-align: left;"><em>August 2016- December 2019 (Anticipated Graduation Date)</em></p>
<ul style="text-align: left;">
<li>3.63 GPA</li>
<li>Dean&rsquo;s List</li>
</ul>
<p style="text-align: left;">Related Coursework:</p>
<ul style="text-align: left;">
<li>Intro to Programming, Business Analysis, Systems Analysis, Corporate Finance, Accounting 1 &amp; 2, Human Communication, Statistics, Managing IT Projects, and The Web Developer Bootcamp (Udemy)</li>
</ul>
<p><strong>Completed Certifications:</strong></p>
<ul>
<li>The Web Developer Bootcamp</li>
<p style="text-align: center;"><span style="color: #ff0000;">TECHNICAL SKILLS</span></p>
<ul style="text-align: left;">
<li>Java Programming and Problem Solving</li>
<li>JavaScript (including jQuery)</li>
<li>HTML and CSS</li>
<li>js</li>
<li>SQL</li>
<li>Forecasting and Risk Analysis</li>
<li>Microsoft Excel</li>
<li>UML</li>
<li>MongoDB</li>
</ul>
<p style="text-align: center;"><span style="color: #ff0000;">WORK EXPERIENCE</span></p>
<p style="text-align: left;"><span style="color: #000000;"><strong>Brainy Bytes</strong>, Duluth&mdash;-<strong><em>Coding and Robotics Instructor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;(</em></strong><em>June 2018- July 2018)</em></span></p>
<ul style="text-align: left;">
<li>Taught elementary and middle school aged groups basic coding and robotics</li>
<li>Developed greater interpersonal and leadership skills through communication with parents and students</li>
<li>Made sure students had a good grasp of the technology taught</li>
</ul>
<p style="text-align: left;"><strong>The Home Depot</strong>, Alpharetta&mdash; <strong><em>Cashier</em></strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;(July 2017- November 2017)</em></p>
<ul style="text-align: left;">
<li>Hands on experience with the Home Depot inventory database which gave insight to real life applications of computer information systems and data management</li>
<li>Worked alongside managers and sales associates to ensure customers&rsquo; shopping experiences</li>
</ul>
<p style="text-align: left;"><strong>Alpharetta High School</strong>, Alpharetta&mdash; <strong><em>Office Facilitator</em></strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (January 2016- May 2016)</em></p>
<ul style="text-align: left;">
<li>Managed records to account student attendance</li>
<li>Worked with faculty to make sure check-out system ran smoothly</li>
</ul>
<p style="text-align: center;"><span style="color: #ff0000;">PROJECTS</span></p>
<p><strong>Personal Website: </strong>Built a personal website to showcase my portfolio and work from scratch using the Bootstrap framework.</p>
<p style="text-align: left;"><strong>Casino Simulator: </strong>Created a java program which simulates a casino. Users can make their own profile with their own customer ID and balance to play up to 4 games (Slots, Seven Eleven, Twenty-one, and High-low).</p>
<p style="text-align: left;"><strong>Color Game: </strong>Used HTML, JavaScript, and CSS to create a game which plays on the browser. It gives the player an RGB value and then displays colors to guess from. The game is interactive, has difficulty modes, and more. (uploaded to GitHub)</p>
<p style="text-align: left;"><strong>Blog Site:</strong> Created a personal blog site with an aesthetic layout using Node.js, NPM packages, MongoDB, JavaScript, EJS, and CSS. This was one of my first full-stack development projects and included full database usage to create, edit, and delete posts.</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #ff0000;">SPOKEN LANGUAGES</span></p>
<p style="text-align: left;"><strong>Urdu</strong> (native speaker) , <strong>Arabic</strong> (intermediate-level and certified) , <strong>Spanish </strong>(up to Spanish 3 in High School)</p>
 
</div> 
 
 
 
      
<!--FOOTER--------------->
<!----------------------->
<div id="footer" class="text-center container-fluid">
  <a class="footerIcon" href="https://www.linkedin.com/in/junaid-mohamed-939ba8154/"><i class="fab fa-linkedin"></i></a>
  <a class="footerIcon" href="https://github.com/junaiderade"><i class="fab fa-github"></i></a>
  <a class="footerIcon" href="mailto:junaid98m@gmail.com"><i class="fas fa-envelope"></i></a>
  <p style="color: whitesmoke;font-family: 'Montserrat', sans-serif;">Coded by Me</p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>