/* LANDING PAGE */
.carousel-caption h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
}

.carousel-caption {
    font-family: 'Montserrat', sans-serif;
}

.landtron{
    background: white !important;
    text-align: center;
    color: black;
    font-size: 10px;

}

.darker {
    background: black!important;
    color: white;
}
/* ----- */

body {
    /* background-color: whitesmoke!important; */
    background-image: linear-gradient(skyblue,firebrick);
    margin: 0px!important;
}

/* NAVBAR */
#mainNav {
  font-size: 1.3rem;
  font-weight: 100;
  width: 100%;
}

#mainNavBrand {
  font-size: 1.5rem;
  font-weight: 100;
}
/* ----- */

/* FOOTER */
#footer {
    background-color:#202020;
    padding-top: 20px;
    padding-bottom:20px;
}

.footerIcon {
    font-size: 40px!important;
    margin: 10px!important;
}
/* ----- */

/* PORTFOLIO */
.portCard {
    margin: 20px!important;
    height: 550px;
}
/* ----- */

/* CONTACT ME */
.jumbotron {
 font-family: 'Montserrat', sans-serif!important;
 background-image: linear-gradient(skyblue, firebrick); 
 margin-bottom: 0rem !important;
}

.jumbotron h1 {
    /* color: #202020!important; */
    color: white !important;
}

.addPaddingHere { 
    padding-bottom: 300px;
}
/* ----- */